GOOGLE_API_KEY = "YOUR_GOOGLE_API_KEY"
GEMINI_AI_STUDIO_API_KEY = "YOUR_GEMINI_API_KEY"
SPREADSHEET_URL = "https://docs.google.com/spreadsheets/d/1phGdYE9UmB-jSDBPO88iyiXQAfMwh8OOgMj2dQvXgHQ/edit?gid=0#gid=0"
APP_TIMEZONE = "Asia/Tokyo"

[GOOGLE_SERVICE_ACCOUNT_JSON]
type = "service_account"
project_id = "endless-recorder-477707"
private_key_id = "YOUR_PRIVATE_KEY_ID"
private_key = """
-----BEGIN PRIVATE KEY-----
YOUR_PRIVATE_KEY
-----END PRIVATE KEY-----
"""
client_email = "YOUR_SERVICE_ACCOUNT_EMAIL"
client_id = "YOUR_CLIENT_ID"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/YOUR_SERVICE_ACCOUNT_EMAIL"
universe_domain = "googleapis.com"
